---
layout: immersive.liquid
permalink: /about/index.html
tags: templates
group: templates
options: none
icon: newspaper
order: 0
theme: none
title: About
description: A news blog template inspired by G.News
keywords:
- blog
- lifestyle
---

<section class="page-scroll" layout="column center-center">

    <div self="size-small center-center" class="animate__animated animate__fadeIn animate__faster"
         style="padding-top: 56px; padding-left: 12px;padding-right: 12px; line-height: 150%">

        <p>
            Gpapplica 2021 http://appmakerpro.website/
        </p>

           </div>

</section>
